{% extends "layout.html" %}

{% block bodytag %}
<body class="d-flex h-100 text-center text-white bg-dark">
{% endblock bodytag %}

{% block nav %}
<a class="nav-link active" aria-current="page" href="/">Home</a>
<a class="nav-link" href="/about">About</a>
{% endblock nav %}

{% block body %}
  {% if step == "START" %}
    <h1>Find a user.</h1>
    <p class="text-muted">Enter the Twitter username exactly as it appears on the profile</p>
    <form class="px-5 pb-2 px-md-5 text-black no-shadow" action="/gen">
      <div class="form-floating">
        <input type="search" class="form-control" id="floatingInput" name="username" placeholder="username" autocomplete="off" pattern="^[a-zA-Z0-9_]{1,15}$" required>
        <label for="floatingInput">Twitter username</label>
      </div>
    </form>
    {% if username %}
      {% if invalid %}
        <p class="text-muted">User {{ username }} not valid</p>
      {% else %}
        <p class="text-muted">User {{ username }} not found ☹</p>
      {% endif %}
    {% endif %}
  {% endif %}

  {% if step == "USER" %}
    <h1>Found {{ user.name }}.</h1>
    <div class="py-4">
      <a href="https://twitter.com/{{ user.username }}" class="twitter-follow-button" data-size="large" data-show-count="true">@{{ user.username }}</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <form id="genForm" class="lead" action="/gen">
      <input type="hidden" name="generate" value="{{ user.username }}">
      <button type="submit" id="genButton" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Generate</button>
    </form>
    <p class="lead py-2">
      <a href="/gen" class="btn btn-sm btn-secondary border-white bg-white">Start again?</a>
    </p>
  {% endif %}

  {% if step == "GENERATE" %}
    <h1>Tweets generated.</h1>
    <p class="text-muted">Ran model on {{ response.model_tweet_count }} tweets from @{{ response.user.username }}</p>
    {% if response.tweets %}
      <div class="list-group pb-4">
      {% for tweet in response.tweets %}
        <div class="list-group-item list-group-item-action list-group-item-override d-flex gap-3 py-3">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-robot flex-shrink-0" viewBox="0 0 16 16">
            <path d="M6 12.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5ZM3 8.062C3 6.76 4.235 5.765 5.53 5.886a26.58 26.58 0 0 0 4.94 0C11.765 5.765 13 6.76 13 8.062v1.157a.933.933 0 0 1-.765.935c-.845.147-2.34.346-4.235.346-1.895 0-3.39-.2-4.235-.346A.933.933 0 0 1 3 9.219V8.062Zm4.542-.827a.25.25 0 0 0-.217.068l-.92.9a24.767 24.767 0 0 1-1.871-.183.25.25 0 0 0-.068.495c.55.076 1.232.149 2.02.193a.25.25 0 0 0 .189-.071l.754-.736.847 1.71a.25.25 0 0 0 .404.062l.932-.97a25.286 25.286 0 0 0 1.922-.188.25.25 0 0 0-.068-.495c-.538.074-1.207.145-1.98.189a.25.25 0 0 0-.166.076l-.754.785-.842-1.7a.25.25 0 0 0-.182-.135Z"/>
            <path d="M8.5 1.866a1 1 0 1 0-1 0V3h-2A4.5 4.5 0 0 0 1 7.5V8a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1v1a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-1a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1v-.5A4.5 4.5 0 0 0 10.5 3h-2V1.866ZM14 7.5V13a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V7.5A3.5 3.5 0 0 1 5.5 4h5A3.5 3.5 0 0 1 14 7.5Z"/>
          </svg>
          <div class="d-flex gap-2 w-100">
            <div>
              <p class="mb-0">
                <span>{{ response.user.name }}</span>
                <span class="opacity-50"> @{{ response.user.username }} • now</span>
              </p>
              <p class="mb-0">{{ tweet }}</p>
            </div>
          </div>
          <a class="twitter-share-button"
            href="https://twitter.com/intent/tweet"
            data-text='"{{ tweet }}"&#010;&#010;Created via Tweet Gen on @{{ response.user.username }}&#010;'
            data-url="http://www.tweetgen.co.uk/">
          Tweet
          </a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      {% endfor %}
      </div>
    {% else %}
      <div class="py-4">
        <p>No tweets could be generated ☹</p>
      </div>
    {% endif %}
    <form id="genForm" class="lead" action="/gen">
      <input type="hidden" name="generate" value="{{ response.user.username }}">
      <button type="submit" id="genButton" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Regenerate</button>
    </form>
    <p class="lead py-2">
      <a href="/gen" class="btn btn-sm btn-secondary border-white bg-white">Start again?</a>
    </p>
  {% endif %}

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
  <script>
    $(document).ready(function() {
      $("#genButton").click(function() {
        // disable button
        $(this).prop("disabled", true);
        // add spinner to button
        $(this).html(
          `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Generating...`
        );
        // submit the form
        $("#genForm").submit();
      });
    });
  </script>
{% endblock body %}
