{% extends "layout.html" %}

{% block nav %}
<a class="nav-link active" aria-current="page" href="/">Home</a>
<a class="nav-link" href="/about">About</a>
{% endblock nav %}

{% block body %}
<h1>Welcome to Tweet Gen.</h1>
<p class="lead">Ever wondered whether an AI could mimic a human? Or even a specific person? Create entirely unique phrases in the style of any Twitter user in just a few clicks.</p>
<p class="lead">
  <a href="/gen" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Let's go!</a>
</p>
{% endblock body %}
